# This is a template for the `.env` file that is used as part of local development.
# You can copy this file, rename it to `.env` and fill in the missing values,
# then delete this header.
###############################################################################

# This file should contain all the secrets required by *development* (local) application.
# This file is ignored by git by default to avoid accidentally exposing secrets in your repository.

SECRET_KEY="django-insecure-tqSH9gWpm3BO3HE8FBZMBbvW4pzcZVi1KFmzi1hk"
# host should be "127.0.0.1" for native development or "db" for docker-based development
DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5432/project"
# host should be "127.0.0.1" for native development or "redis" for docker-based development
REDIS_URL="redis://127.0.0.1:6379"
ALLOWED_HOSTS="127.0.0.1,localhost"
CSRF_TRUSTED_ORIGINS="http://127.0.0.1:8000,http://localhost:8000"

GOOGLE_ANALYTICS_ID=""

# Development server ports
DJANGO_PORT=8000
DJANGO_VITE_PORT=5173

# Docker service ports
POSTGRES_PORT=5432
REDIS_PORT=6379

# turnstile setup - add your keys here to enable turnstile
TURNSTILE_KEY=""
TURNSTILE_SECRET=""

# You can uncomment these settings to use a different email backend in settings.py.
# Depending on your selected backend, you will probably need to add additional settings / environment variables

# DEFAULT_FROM_EMAIL="hello@saaspegasus.com"
# SERVER_EMAIL="noreply@localhost:8000"
# EMAIL_BACKEND="anymail.backends.mailgun.EmailBackend"
# MAILGUN_API_KEY="key-***"
# MAILGUN_SENDER_DOMAIN="example.com"
